<style>
.mintext {
  max-width: 200px;
}
.f-group {
  margin: 24px 48px;
}
</style>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="text" placeholder="<%= text %>"></textarea>
</div>

<div class="f-group">
  <h3><%= replace %></h3>
  <div class="mdui-textfield mdui-textfield-floating-label mintext">
    <label class="mdui-textfield-label"><%= whattext %></label>
    <input class="mdui-textfield-input" id="rto" type="text"/>
  </div>
  <p>
    <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="r()"><%= replace %></button>
    <%= replacedes %>
  </p>
</div>

<div class="mdui-divider"></div>
<div class="f-group">
  <h3><%= add %></h3>
  <div class="mdui-textfield mdui-textfield-floating-label mintext">
    <label class="mdui-textfield-label"><%= whattext %></label>
    <input class="mdui-textfield-input" id="wt" type="text"/>
  </div>
  <label class="mdui-checkbox">
    <input type="checkbox" id="before"/>
    <i class="mdui-checkbox-icon"></i>
    <%= before %>
  </label>
  <label class="mdui-checkbox">
    <input type="checkbox" id="after"/>
    <i class="mdui-checkbox-icon"></i>
    <%= after %>
  </label>
  <div class="mdui-textfield mdui-textfield-floating-label mintext">
    <label class="mdui-textfield-label"><%= encs %></label>
    <input class="mdui-textfield-input" id="encs" type="number"/>
  </div>
  <p>
    <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="a()"><%= add %></button>
  </p>
</div>

<div class="mdui-divider"></div>

<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="s()"><%= copy %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="c()"><%= clear %></button>
</p>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="result" placeholder="<%= result %>"></textarea>
</div>
