<%- include('layout/head') %>
<%- include('layout/appbar') %>
<%- include('layout/drawer') %>
<%- include('layout/i18n') %>

<div class="mdui-container main">
  <h1><%= __('notfound', lang) %></h1>
  <p><%= __('notfounddes', lang) %></p>
</div>

<%- include('layout/foot') %>
