<%- include('layout/head', {
    csslist: [
        'https://cdn.bootcss.com/codemirror/5.25.0/codemirror.min.css',
        'https://cdn.bootcss.com/codemirror/5.25.0/theme/material.min.css',
    ]
}) %>
<%- include('layout/appbar') %>
<%- include('layout/drawer') %>
<%- include('layout/i18n') %>

<div class="mdui-container main">
  <h1><%= toolname %></h1>
  <p class="description"><%= description %></p>

  <textarea id="t0"></textarea>
  <p>
    <button class="mdui-btn mdui-ripple" onclick="b()">beautify</button>
  </p>
  <textarea id="t1"></textarea>
</div>

<%- include('layout/foot', {
    scriptlist: [
        'https://cdn.bootcss.com/codemirror/5.25.0/codemirror.min.js',
        'https://cdn.bootcss.com/codemirror/5.25.0/addon/selection/active-line.min.js',
        'https://cdn.bootcss.com/codemirror/5.25.0/mode/javascript/javascript.min.js',
        'https://cdn.bootcss.com/js-beautify/1.6.12/beautify.min.js',
    ],
    script: `
      var t0 = CodeMirror.fromTextArea(document.getElementById('t0'), {
        lineNumbers: true,
        theme: 'material',
      })
      var t1 = CodeMirror.fromTextArea(document.getElementById('t1'), {
        lineNumbers: true,
        theme: 'material',
      })
      t0.setSize('100%', 200)
      function b() {
          t1.setValue(js_beautify(t0.getValue()))
      }
    `
}) %>
