<% pagetype = 'tool' %>
<%- include('layout/head', {
    csslist: [

    ],
    title: title,
}) %>
<%- include('layout/appbar') %>
<%- include('layout/drawer') %>
<%- include('layout/i18n') %>

<div class="mdui-container main">
  <h1><%= __('newtools', lang) %></h1>
  <% if (typeof newitems == 'object') { %>
  <div class="mdui-row">
      <% newitems.forEach(function(item) { %>
      <div class="mdui-col-sm-6 mdui-col-md-4 mdui-col-lg-3">
        <div class="mdui-card item">
          <div class="mdui-card-header">
            <div class="mdui-card-header-title"><%= item.toolname %></div>
            <div class="mdui-card-header-subtitle"><%= item.description %></div>
          </div>
          <a href="/<%= item.tool %>" title="<%= item.description %>" target="_blank"></a>
        </div>
      </div>
      <% }) %>
  </div>
  <% } %>

  <% for (let i in cates) { %>
  <h1><%= __('cate.' + i, lang) %><%= __('tool', lang) %></h1>
  <div class="mdui-row">
      <% cates[i].forEach(function(j) { %>
      <% let i18n = lang in tools[j].i18n ? tools[j].i18n[lang] : tools[j].i18n['en_US'] %>
      <div class="mdui-col-sm-6 mdui-col-md-4 mdui-col-lg-3">
        <div class="mdui-card item">
          <div class="mdui-card-header">
            <div class="mdui-card-header-title"><%= i18n.toolname %></div>
            <div class="mdui-card-header-subtitle"><%= i18n.description %></div>
          </div>
          <a href="/<%= j %>" title="<%= i18n.description %>" target="_blank"></a>
        </div>
      </div>
      <% }) %>
  </div>
  <% } %>

</div>
<div class="footer mdui-color-theme">
</div>

<% if (typeof scriptlist != 'object') scriptlist = [] %>
<% if (typeof script != 'string') script = null %>
<%- include('layout/foot', {
    scriptlist: scriptlist,
    script: script,
}) %>
