<% pagetype = 'tool' %>
<% if (typeof csslist != 'object') csslist = [] %>
<%- include('layout/head', {
    csslist: csslist
}) %>
<%- include('layout/appbar') %>
<%- include('layout/drawer') %>
<%- include('layout/i18n') %>

<div class="mdui-container main">
  <h1><%= toolname %></h1>
  <p class="description"><%= description %></p>
  <% if (typeof similartag != 'undefined') { %>
  <div class="similartag">
    <div class="similartag-desc"><%= __('similartag', lang) %></div>
    <% similartag.forEach(function(i) { %>
    <a href="/<%= lang %>/<%= i.tool %>" target="_blank"><%= i.toolname %></a>
    <% }) %>
  </div>
  <% } %>
  <%- include(tpl) %>

</div>

<% if (typeof scriptlist != 'object') scriptlist = [] %>
<% if (typeof script != 'string') script = null %>
<%- include('layout/foot', {
    scriptlist: scriptlist,
    script: script,
}) %>
