<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="text" placeholder="<%= text %>"></textarea>
</div>
<label class="mdui-checkbox">
  <input type="checkbox" id="lh" checked>
  <i class="mdui-checkbox-icon"></i>
  <%= linehead %>
</label>
<p>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="e()"><%= remove %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="s()"><%= copy %></button>
  <button class="mdui-btn mdui-btn-raised mdui-ripple" onclick="c()"><%= clear %></button>
</p>
<div class="mdui-textfield">
  <textarea class="mdui-textfield-input" id="result" placeholder="<%= result %>"></textarea>
</div>
